* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.game-board {
    background: linear-gradient(#ebc187, #E0F6FF);
    border-bottom: 16px solid rgb(155, 68, 18);
    height: 500px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.imgSaturno{
    position: absolute;
    animation: movePlaneta 15s infinite linear;
    width: 900px;
}
.imgTerra {
    position: absolute;
    left: 25%;
    width: 350px;
}


.bomb{
    position: absolute;
    bottom: 0;
    width: 85px;
    animation: bomb-animation 2s infinite linear;
}

.robo{
    bottom: 0px;
    left: 10px;
    position: absolute;
    width: 200px;
}

.jump{
    animation: jump 500ms ease-out;
    
}

@keyframes movePlaneta {
    from {
        right: -900px; 
     }
     to {
         right: 100%;
     }
}

@keyframes bomb-animation {
    from {
       right: -85px; 
    }
    to {
        right: 100%;
    }
}

@keyframes jump{
    0% {
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}


/* Controle */

.control {
    margin: auto;
    width: 215px;
}

.imgControle {
    width: 215px;
}